<ul id="myUL">
  {% include 'templatetags/menu_child.html' %}
</ul>

<!--<ul id="myUL">-->
<!--  <li><span class="caret">Напитки</span>-->
<!--    <ul class="nested">-->
<!--      <li>Вода</li>-->
<!--      <li>Кофе</li>-->
<!--      <li><span class="caret">Чай</span>-->
<!--        <ul class="nested">-->
<!--          <li>Черный чай</li>-->
<!--          <li>Белый чай</li>-->
<!--          <li><span class="caret">Зеленый чай</span>-->
<!--            <ul class="nested">-->
<!--              <li>Сенча</li>-->
<!--              <li>Гекуро</li>-->
<!--              <li>Маття</li>-->
<!--              <li>Пи Ло Чун</li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->