{% for menu_item in menu_items %}
{% if menu_item.childes.all %}
{% if current_menu in menu_item.childes.all.name %}11{% endif %}
<li>
  <span class="caret" data-toggle="dropdown"></span>
  <a href="{% url 'menu:menu_name' menu_item.slug %}" >{{ menu_item.name }}</a>
  <ul class="nested">
    {% include 'templatetags/menu_child.html' with menu_items=menu_item.childes.all %}
  </ul>
</li>
{% else %}
<li>
  <a href="{% url 'menu:menu_name' menu_item.slug %}">{{ menu_item.name }}</a>
</li>
{% endif %}
{% endfor %}
